@charset "utf-8";

/* ****************************************************
Title: layout.css
***************************************************** */

/* -------------------------------------------------------------------- 
 body
-------------------------------------------------------------------- */

body {
 color: #333333;

/* font-family:	"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;*/

 font-family:	"游ゴシック","HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;

font-size: 13px;
 *font-size:small;
 *font:x-small;
 text-align: center;
	text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	max-height: 999999px;
	min-width: 1000px;
}

#top {
	/*overflow: hidden;*/
}

#wrap {
	overflow: hidden;
	/*width: 640px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}


img {
	vertical-align: bottom;
}

.relative-wrap {
	position: relative;
}

.contDispN {
	display: none;
}

p, span, dt, dd, th, td, li, h1, h2, h3, h4 {
	max-height: 999999px;
	background-image: url(../img/spacer.gif);
}


/*-----------------------*/

.anc {
	position: relative;
}
.ancIn {
	position: absolute;
	/*top: -69px;*/
}

#top {
	/*padding-top: 69px;*/
}

/*-----------------------*/

.pc {
	display: block;
}

.sp {
	display: none;
}

.pcBr {
	display: inline;
}

.spBr {
	display: none;
}

.pcTable {
	display: table !important;
}
.spTable {
	display: none !important;
}

.contIn1000 {
	width: 1000px;
	margin: 0px auto;
	position: relative;
}


.radius200 {
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-o-border-radius: 200px;
	-ms-border-radius: 200px;
	border-radius: 200px;
}

/*@media screen and (max-width:768px) {*/
@media screen and (max-width:799px) {

/*デバイスwidth、～799px用のスタイルを記入*/

	body {
	/* font-family:	"HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;*/
		min-width: 750px;
		
	}

	#wrap {
		overflow: hidden;
		width: auto;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		padding: 0px;
	}

	/*-----------------------*/

	.anc {
		position: relative;
	}
	.ancIn {
		position: absolute;
		/*top: -79px;*/
	}

	#top {
		/*padding-top: 79px;*/
	}

	/*-----------------------*/

	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.pcBr {
		display: none;
	}
	.spBr {
		display: inline;
	}

	.pcTable {
		display: none !important;
	}
	.spTable {
		display: table !important;
	}

	.contIn1000 {
		width: auto;
	}

}


/* -------------------------------------------------------------------- 
 header
-------------------------------------------------------------------- */

.nheader {
	width: 1240px;
	margin: 0 auto;
	display: flex;
}
.header_logo {
	margin: 0 auto ;
	padding: 35px 0 30px 0;
}
.header_nav {
	display: flex;
	margin: 0 auto; 
	padding: 30px 0 26px 0;
}
.header_nav li {
	 margin-right: 20px;
}


/*@media screen and (max-width:768px) {*/
@media screen and (max-width:799px) {

header {
	width: auto;
	margin: 0 auto;
}
	.nheader {
		
	}
.header_logo {
	width: auto;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.header_nav {
	width: auto;
	margin: 0 auto;
}
.header_nav li {
	width: auto;
	margin: 0 auto;
}

}


/* -------------------------------------------------------------------- 
 main
-------------------------------------------------------------------- */

.mvWrap .mv_title p ,.mvWrap .mv_title h2 {
	display: none;
}
.mvWrap {
	background-image: url("../img/mv_bg.png");
	background-repeat: repeat-x;
	background-position: center top;
	height: 420px; 
}
.mv_title {
	background-image: url("../img/mv.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 420px;
	
}                                                /*--mvWrap--*/

.cont01 p {
	font-size: 20px;
	line-height: 3.3rem;
	color: #1d3177;
	font-weight: bold;
	padding: 55px 0 45px 0;
}
.cont01 dl {
	background-image: url("../img/table01.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 298px;
}
.cont01 dt, .cont01 dd {
	display: none;
}                                                  /*--cont01--*/

.tableWrap {
	background-image: url("../img/bg_orange.png");
	background-repeat: repeat-x;
	background-position: center top;
	height: 1022px;
	padding-top: 60px;
	margin-top: 45px;
}
.tableWrap table {
	width: 900px; 
	margin: 0 auto;
	border: #1d3177 solid 2px;
}
.tableWrap tr {
	border: #1d3177 solid 1px;
}
.tableWrap th {
	background-color: #1d3177;
	color: #fff;
	border: #fff solid 1px;
	width: 18%;
	text-align: center; 
	font-size: 18px;
	font-weight: bold;
}
.tableWrap td {
	background-color: #fff;
	text-align: left;
	padding: 38px 40px 32px 38px;
	line-height: 1.8rem;
}
.tableWrap td .span_size {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
.tableWrap td .span_blue {
	color: #1d3177;
	font-size: 20px;
}
.tableWrap td .span_pink {
	color: #ff3c5a;
	font-weight: bold;
}
.tableWrap td {
	font-size: 16px;
}
.tableWrap p {
	margin: 80px auto 0 auto;
	font-size: 38px;
	color: #ff3c5a;
	font-weight: bold;
	text-decoration: underline;
	
}                                                  /*--tableWrap--*/

section {
	margin-bottom: 90px;
}
section h3 {
	background-image: url("../img/title_bg.png");
	background-repeat: repeat-x;
	background-position: center top;
	height: 75px;
	margin-bottom: 60px;
}
section .section_table {
	margin: 0 auto;
	width: 700px;
	height: 60px;
	margin-bottom: 9px;
	
}
section .section_table th {
	background-color: #f8b62b;
	width: 8%;
	color: #1d3177;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}
section .section_table td {
	background-color: #fbda95;
	width: 92%;
	font-size: 24px;
	padding-right: 50px;
	font-weight: bold;
	color: #1d3177;
}
section p { 
	font-size: 20px;
}
section .span_red {
	color: #ff3c5a;
}                                                  /*--section 給付までの手順--*/

section ul li {
	display: none;
}
section ul {
	background-image: url("../img/table02.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 773px;
}                                                  /*--section 給対象者フローチャート--*/

section .jukou {
	width: 770px;
	margin: 0 auto 90px auto;
}
section .jukou .jukouH4 {
	font-size: 24px;
	font-weight: bold;
	color: #1d3177;
	text-align: left;
	border-bottom: solid 2px #1d3177;
	
}
section .jukou .jukouH4 .span_yellow {
	color: #f8b62b;
}
section .jukou .jukouH4 .span_text {
	font-size: 30px;
}
section .jukou p {
	text-align: left;
	font-size: 22px;
	margin: 55px 0 25px 0;
}
section .jukou p .span_gray {
	color: #a2a2a2;
}                                                  /*--section 対象受講者例--*/


/*@media screen and (max-width:768px) {*/
@media screen and (max-width:799px) {

/*デバイスwidth、～799px用のスタイルを記入*/


	.mvWrap .mv_title p ,.mvWrap .mv_title h2 {
	display: none;
}
.mvWrap {
	background-image: url("../img/mv_bg_sp.png");
	background-repeat: repeat-x;
	background-position: center top;
	height: 540px;
}
.mv_title { 
	background-image: url("../img/mv_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 540px;
	
}                                                /*--mvWrap--*/

.cont01 p {
	font-size: 24px;
	line-height: 2.8rem;
	color: #1d3177;
	font-weight: bold;
	padding: 55px 0 45px 0;
	margin: 0 50px;
	text-align: left;
}
.cont01 dl {
	background-image: url("../img/table01_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 385px;
}
.cont01 dt, .cont01 dd {
	display: none;
}                                                  /*--cont01--*/

.tableWrap {
	background-image: url("../img/bg_orange_sp.png");
	background-repeat: repeat-x;
	background-position: center top;
	height: 1571px;
	padding-top: 60px;
	margin: 45px 0 0 0;
}
.tableWrap table {
	width: auto; 
	margin: 0 50px;
	border: #1d3177 solid 2px;
}
.tableWrap tr {
	border: #1d3177 solid 1px;
}
.tableWrap th {
	background-color: #1d3177;
	color: #fff;
	border: #fff solid 1px;
	width: 18%;
	text-align: center; 
	font-size: 24px;
	font-weight: bold;
}
.tableWrap td {
	background-color: #fff;
	text-align: left;
	padding: auto;
	line-height: 2.3rem;
	font-size: 22px;
}
.tableWrap td .span_size {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
.tableWrap td .span_blue {
	color: #1d3177;
	font-size: 24px;
}
.tableWrap td .span_pink {
	color: #ff3c5a;
	font-weight: bold;
}

.tableWrap p {
	margin: 60px auto 0 auto;
	font-size: 38px;
	color: #ff3c5a;
	font-weight: bold;
	text-decoration: underline;
	
}                                                  /*--tableWrap--*/

section {
	margin-bottom: 90px;
}
section h3 {
	background-image: url("../img/title_bg.png");
	background-repeat: repeat-x;
	background-position: center top;
	background-size: auto 66px;
	height: 66px;
	margin-bottom: 60px;
}
section .section_table {
	margin: 0 auto;
	width: 675px;
	height: 60px;
	margin-bottom: 9px;
	
}
section .section_table th {
	background-color: #f8b62b;
	width: 8%;
	color: #1d3177;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}
section .section_table td {
	background-color: #fbda95;
	width: 92%;
	font-size: 24px;
	padding-right: 50px;
	font-weight: bold;
	color: #1d3177;
}
section p {
	font-size: 20px;
}
section .span_red {
	color: #ff3c5a;
}                                                  /*--section 給付までの手順--*/

section ul li {
	display: none;
}
section ul {
	background-image: url("../img/table02_sp.png");
	background-repeat: no-repeat;
	background-position: center top;
	height: 1205px;
}                                                  /*--section 給対象者フローチャート--*/

section .jukou {
	width: 650px;
	margin: 0 auto 90px auto;
}
section .jukou .jukouH4 {
	font-size: 24px;
	font-weight: bold;
	color: #1d3177;
	text-align: left;
	border-bottom: solid 2px #1d3177;
	
}
section .jukou .jukouH4 .span_yellow {
	color: #f8b62b;
}
section .jukou .jukouH4 .span_text {
	font-size: 30px;
}
section .jukou p {
	text-align: left;
	font-size: 26px;
	margin: 55px 0 25px 0;
}
section .jukou p .span_gray {
	color: #a2a2a2;
}                                                  /*--section 対象受講者例--*/


}



/* -------------------------------------------------------------------- 
 footer
-------------------------------------------------------------------- */

.footer_top {
	height: 260px;
	background-color: #1d3177;
}
.footer_top .footer_nav {
	display:flex;
	margin: 0 auto;
	width: 900px;
}
.footer_nav li {
	padding-right: 40px;
	margin-top: 80px;
}
.footer_middle {
	height: 130px;
	background-color: #f3f3f3;
}
.footer_middle img {
	display: inline-block;
	margin: 35px 40px 0 0;
	vertical-align: middle;
}
.footer_bottom {
	height: 70px;
	background-color: #f08300;
}
.footer_bottom p {
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 23px;
}

/*@media screen and (max-width:768px) {*/
@media screen and (max-width:799px) {

.footer_top {
	height: 430px;
	background-color: #1d3177;
}
.footer_top .footer_nav_sp {
	margin: 0 auto;
	width: auto;
}
	.footer_top .footer_nav_sp li {
		padding-top: 60px;
	}
	
.footer_middle {
	height: 130px;
	background-color: #f3f3f3;
}
	.footer_middle .pcBr {
		display: none;
	}
.footer_middle img {
	display: inline-block;
	margin: 45px auto;
	padding: 0 35px 0 35px;
	width: 273px;
}
.footer_bottom {
	height: 100px;
	background-color: #f08300;
} 
.footer_bottom p {
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}




}






/*-----*/
